<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card m-3 bg-info">
      <h5 class="card-header">Angular Template-Driven Forms Validation</h5>
      <div class="card-body">
        <form
          name="form"
          #f="ngForm"
          (ngSubmit)="f.form.valid && submit()"
          novalidate
        >
          <div class="form-row">
            <div class="form-group-col">
              <label>Title</label>
              <select
                name="title"
                [(ngModel)]="formData.title"
                class="form-control"
                required
                #title="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && title.invalid,
                  'is-valid': f.submitted && title.valid
                }"
              >
                <option value=""></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
              </select>
              <div class="invalid-feedback">
                <div>Title is required</div>
              </div>
            </div>
            <div class="form-group-col">
              <label>Firstname</label>
              <input
                type="text"
                [(ngModel)]="formData.firstname"
                name="firstname"
                class="form-control"
                required
                #firstname="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && firstname.invalid,
                  'is-valid': f.submitted && firstname.valid
                }"
              />
              <div class="invalid-feedback">
                <div>Firstname is required</div>
              </div>
            </div>
            <div class="form-group-col">
              <label>Lastname</label>
              <input
                type="text"
                [(ngModel)]="formData.lastname"
                name="lastname"
                class="form-control"
                required
                #lastname="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && lastname.invalid,
                  'is-valid': f.submitted && lastname.valid
                }"
              />
              <div class="invalid-feedback">
                <div>Lastname is required</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group-col">
                <label>Date of Birth</label>
                <input
                  type="date"
                  [(ngModel)]="formData.date"
                  class="form-control"
                  name="date"
                  required
                  pattern="^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$"
                  #date="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && date.invalid,
                    'is-valid': f.submitted && date.valid
                  }"
                />
                <div class="invalid-feedback">
                  <div *ngIf="date.errors?.['required']">
                    Date of Birth is required.
                  </div>
                  <div *ngIf="date.errors?.['pattern']">
                    Date of Birth must be valid format for YYYY-MM-DD
                  </div>
                </div>
              </div>
              <div class="form-group-col">
                <label>Email</label>
                <input
                  type="text"
                  [(ngModel)]="formData.email"
                  name="email"
                  class="form-control"
                  email
                  required
                  #email="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && email.invalid,
                    'is-valid': f.submitted && email.valid
                  }"
                />
                <div class="invalid-feedback">
                  <div *ngIf="email.errors?.['required']">
                    Email is required
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    Email is valid for correct email address
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group-col">
                <label>Password</label>
                <input
                  type="password"
                  name="password"
                  [(ngModel)]="formData.password"
                  class="form-control"
                  minlength="6"
                  required
                  #password="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && password.invalid,
                    'is-valid': f.submitted && password.valid
                  }"
                />
                <div class="invalid-feedback">
                  <div *ngIf="password.errors?.['required']">
                    Password is required
                  </div>
                  <div *ngIf="password.errors?.['minlength']">
                    Password must be atleast 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group-col">
                <label>Confirm Password</label>
                <input
                  type="password"
                  [(ngModel)]="formData.confirmpassword"
                  name="confirmpassword"
                  class="form-control"
                  required
                  #confirmpassword="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && confirmpassword.invalid,
                    'is-valid': f.submitted && confirmpassword.valid
                  }"
                />
                <div class="invalid-feedback">
                  <div>Confirm Password is required</div>
                </div>
              </div>
            </div>
            <div class="form-group form-check">
              <input
                type="checkbox"
                [(ngModel)]="formData.acceptTerms"
                name="acceptTerms"
                id="acceptTerms"
                class="form-check-input"
                required
                #acceptTerms="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && acceptTerms.invalid,
                  'is-valid': f.submitted && acceptTerms.valid
                }"
              />
              <label for="acceptTerms" class="form-check-label"
                >Accept Terms and Conditions</label
              >
              <div class="invalid-feedback">
                <div>Terms and Conditions is required.</div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary me-2" type="submit">
                Register
              </button>
              <button class="btn btn-danger" type="reset">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
